.spinner {
    display: grid;
    place-self: center;
    min-height: 80vh;
}

.spin {
    width: 65px;
    height: 65px;
    place-self: center;
    border: 5px solid #dbdb;
    border-top-color: rgb(83, 85, 85);
    border-radius: 50%;
    animation: rotate 2s infinite;

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}