.spinner {
    display: grid;
    place-self: center;
    min-height: 80vh;
}

.spin {
    width: 65px;
    height: 65px;
    place-self: center;
    border: 5px solid #dbdb;
    border-top-color: rgb(83, 85, 85);
    border-radius: 50%;
    animation: rotate 2s infinite;

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.coin {
    padding: 0 20px;
}

.coinname {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px auto;
    margin-bottom: 50px;

}

.coinname img {
    max-width: 120px;
}

.coinname p b {
    font-size: 30px;
    font-weight: 500;
    color: white
}

.coinchart {
    max-width: 700px;
    height: 200px;
    margin: auto;
}

.coininfo {
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.coininfo ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid whitesmoke;
    list-style: none;
    border: none;
}