.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid whitesmoke;
}

.navbar .logo {
    display: flex;
    width: max(1vw, 4%);
    filter: drop-shadow(0px 1000px 0 white);
    transform: translateY(-1000px);
    margin-top: 1px;


}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-left: 10%;
    font-weight: 500;
}

.navbar li {
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.navbar select {
    padding: 5px 8px;
    border-radius: 6px;
    border: 1px solid white;
    background: transparent;
    color: white;
}

.navbar option {
    background-color: rgba(148, 187, 233, 1);
    color: rgb(242, 255, 255);

}

.navbar button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    background: white;
    border: none;
    cursor: pointer;
}

@media (max-width:900px) {
    .navbar {
        padding: 20px 8%;
    }

    .navbar button {
        gap: 8px;
        padding: 8px 18px;
        font-size: 10px;
    }
}

@media (max-width:650px) {
    .navbar {
        padding: 20px 5%;

    }

    .navbar .logo {
        display: none;
    }

    .navbar ul {
        display: block;
    }

    .navbar button img {
        width: 12px;
    }
}